parameters:
    level: 8
    paths:
        - bin/
        - apps/
        - src/
        - tests/
    excludePaths:
        analyse:
            - apps/bootstrap.php
    symfony:
        containerXmlPath: var/cache/vending-machine/dev/Acme_Ui_Cli_KernelDevDebugContainer.xml
